  /*
    Diese Datei geh�rt zum PowerScript Clansystem POWERCLAN.
    Durch die Nutzung dieses Scriptes stimmt der Benutzer den
    Regelungen der PowerScript Lizenz auf www.powerscripts.org
    zu.
    PowerClan (C) Copyright 2023 by Nico Schubert
  */

BODY, TABLE, TR, TD {
    font-family: Verdana, serif;
  color: #000000;
  font-size: 12px;
}

A, A:ACTIVE, A:VISITED {
    font-family: Verdana, serif;
  color: #000080;
  text-decoration: underline;
}

A:HOVER {
    font-family: Verdana, serif;
  color: #000080;
  text-decoration: none;
}

SMALL {
    font-family: Verdana, serif;
  font-size: 10px;
}